@import "vars";

.card {
    width: 285px;
    background: #fff;
    border: 1px solid #dcdcdc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: #000;

    &:hover {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
        position: relative;
        z-index: 2;
    }

    &__title {
        width: 230px;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 15px;
    }

    &__img {
        text-align: center;
        height: 260px;
    }

    &__price {
        width: 210px;
        margin: 0 auto;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 45px;
    }

    &__old-price {
        color: $main-color-text;
        font-weight: $regular;
        font-size: 20px;
        text-decoration: line-through;
        margin-right: 8px;
    }

    &__rubles {
        font-size: 14px;
        font-weight: $regular;
    }
}

@media screen and (max-width: 1280px) {
    .card:last-child {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .card:nth-last-child(2) {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .card:nth-last-child(3) {
        border-left-width: 0px;
    }

    .card:nth-last-child(4) {
        border-left-width: 0px;
    }
}

@media screen and (max-width: 560px) {
    .card:nth-last-child(3) {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .card {
        width: 100%;
    }

    .card:nth-last-child(4) {
        display: none;
    }
}