@import "vars";

.description {
    padding-bottom: 130px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__descr {
        max-width: 880px;
    }

    &__title {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-weight: $semi-bold;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    &__advantages {
        margin-bottom: 20px;
    }

    &__advantages:last-of-type {
        margin-bottom: 35px;
    }

    &__img {
        margin-top: 35px;
        margin-bottom: 45px;
    }

    &__text {
        line-height: 25px;
    }

    &__download {
        display: flex;
        align-items: center;
        margin-top: 10px;
        font-size: 15px;
    }

    a {
        color: $main-color;
        text-decoration: none;
        border-bottom: 1px solid $main-color;

        &:hover {
            border-bottom: 1px solid $active-color;
            color: $active-color;
            transition: $main-transition;
        }
    }

    &__icon {
        width: 40px;
        height: 40px;
        background: $main-color;
        position: relative;
        margin-right: 10px;

        &:after {
            position: absolute;
            content: '';
            top: 5px;
            left: 10px;
            right: 0;
            bottom: 0;
            background-image: url(../img/icons/pdf.png);
            background-repeat: no-repeat;
        }

        &-docx {
            background: #1789e9;

            &:after {
                background-image: url(../img/icons/docx.png);
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .description {
        padding-bottom: 90px;

        &__wrapper {
            display: block;
        }
    }
}

@media screen and (max-width: 768px) {
    .description {
        padding-bottom: 80px;

        &__title {
            margin-top: 40px;
        }

        &__advantages {
            margin-bottom: 13px;
        }

        &__img {
            margin-bottom: 20px;

            img {
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .description {
        padding-bottom: 50px;

        &__advantages {
            margin-bottom: 8px;
        }

        &__text {
            line-height: 22px;
        }
    }
}

@media screen and (max-width: 360px) {
    .description {
        padding-bottom: 0;

        &__title {
            margin-top: 20px;
            font-size: 16px;
            margin-bottom: 10px;
        }

        &__subtitle {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        &__advantages {
            margin: 0;
        }

        &__advantages:last-of-type {
            margin-bottom: 25px;
        }

        &__text {
            font-size: 13px;
        }

        &__download {
            font-size: 13px;
        }
    }
}