@import "vars";

.discount {
    background: linear-gradient(to top, #fff 50%, #f2f2f2 50%);

    &__wrapper {
        background: $main-color;
        padding: 35px 120px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color: #fff;
        font-size: 40px;
    }

    &__subtitle {
        color: #fff;
        font-size: 14px;
    }
}

@media screen and (max-width: 1280px) {
    .discount__wrapper {
        padding: 35px 60px;
    }
}

@media screen and (max-width: 1024px) {
    .discount__top {
        flex-direction: column;
        align-items: center;
    }

    .discount__title {
        font-size: 25px;
    }

    .discount__subtitle {
        display: none;
    }
}

@media screen and (max-width: 560px) {
    .discount__title {
        font-size: 22px;
    }
}

@media screen and (max-width: 360px) {
    .discount__wrapper {
        padding: 35px;
    }

    .discount__title {
        font-size: 18px;
        text-align: center;
    }
}